<!DOCTYPE html>
<html>
<head >
  <title>Cup of Joe Pro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Titillium+Web" rel="stylesheet">
</head>
<body class="body">
  <header >
    <div>
      <ul>
        <%- if current_user -%>
          <li>
            <%= image_tag current_user.profile_photo.url(:thumb) %>
          </li> 
          <li id="profile-photo"><%= link_to 'Sign Out', destroy_user_session_path, class: "nav-links", method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path, class: "nav-links" %></li>
          <li><%= link_to 'Sign In', new_user_session_path, class: "nav-links" %></li>
        <%- end -%>
      </ul>
    </div>
    <nav>
      <ul>
        <a class="nav-links" href="/"><button class="nav-links"> HOME</button></a>
        <a class="nav-links" href="/brews"><button class="nav-links"> BREWS</button></a>
        <a class="nav-links" href="/roasts"><button class="nav-links">ROASTS</button ></a>
        <a class="nav-links" href="/roasts/new"><button class="nav-links">ADD A ROAST</button></a> 
        <%- if current_user -%>
          <%= link_to 'PROFILE', "/users/#{current_user.id}", class: "nav-links"%> 
        <%- end -%>
      </ul>
    </nav>
  </header>

  <%- flash.each do |key, value| -%>
    <div class="alert flash flash-<%= key %>">
     <h2>
      <%= value %>
     </h2> 
     
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
