<!DOCTYPE html>
<html>
<head >
  <title>Cup of Joe Pro</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Dosis|Titillium+Web" rel="stylesheet">
</head>
<body class="body">
  <div data-sticky-container>
  <div data-sticky data-options="marginTop:0;">

    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="example-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
        <div class="">
          <ul class="vertical medium-horizontal dropdown menu" data-responsive-menu="accordion medium-dropdown">
            <%- if current_user -%>
              <li><%= image_tag current_user.profile_photo.url(:thumb), class: "profile-photo" %></li> 
              <li ><%= link_to 'Sign Out', destroy_user_session_path, class: "button", method: :delete %></li>
            <%- else -%>
              <li><%= link_to 'Sign Up', new_user_registration_path, class: "button" %></li>
              <li><%= link_to 'Sign In', new_user_session_path, class: "button" %></li>
            <%- end -%>
          </ul>
        </div>
        <nav>
          <ul>
            <a class="nav-links" href="/"><button class="nav-links"> Home</button></a>
            <a class="nav-links" href="/search"><button class="nav-links"> Find  a Coffee Shop</button></a>
            <a class="nav-links" href="/brews"><button class="nav-links"> Brews</button></a>
            <a class="nav-links" href="/roasts"><button class="nav-links">Roasts</button ></a>
            <%- if current_user -%>
              <a class="nav-links" href="/roasts/new"><button class="nav-links">Add a roast</button></a> 
              <%= link_to 'Profile', "/users/#{current_user.id}", class: "button"%> 
            <%- end -%>
          </ul>
        </nav>
    </div>

  </div>
</div>



  <%- flash.each do |key, value| -%>
    <div class="alert flash flash-<%= key %>">
     <h2>
      <%= value %>
     </h2> 
     
    </div>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  
  <%= yield :extra_footer %>
</body>
</html>
